@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.pagination-container {
  display: flex;
  margin-top: 1rem;
  margin: 0 20px;
}

.page-item {
  padding: 0px 10px;
  color: #1c4c96;
}

.page-item + .page-item {
  padding-left: 30px;
}
.page-item:hover {
  background-color: rgb(228 228 231);
}

.item-active {
  color: white;
  background-color: #1c4c96;
}

.vertical-line {
  border: 1px solid #1c4c96;
  height: calc(100vh-5rem);
}
